.bar-rating {
  background: rgb(194, 193, 193);
  border-radius: 15px;
  display: flex;
  height: 90%;
  margin: 10px 0;
  width: 100%;
}
  
.bar-rating-child {
  background:orange;
  border-radius: 15px;
  height: 100%;
}
  
.rating {
  border-radius: 100%;
  font-size: 30px;
  font-weight: 900;
  margin: 0 4px;
  text-align: center;
  width: 40px;
}
  
.size-rating {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  height: 28px;
  justify-content: center;
  margin-top: 10px;
  width: 250px;
}
